@page
@model LectureAttendance.Pages.Login.IndexModel
@{
}
<div class="a">
    <div class="container-fluid">
        <form action="" id="loginForm">
            <h1 style="margin-bottom:5%;">Sign in</h1>
            
            <input type="text" email="user1" class="form-control" placeholder="Enter your email...">
            <br />

            <input type="password" password="pass1" class="form-control" placeholder="Enter your Password...">
            <br />
            
           

            <button type="button" class="btn" style="  display: inline-block;
          background-color: #172432;
          border: none;
          color: #ddd;
          padding: 10px 20px;
          border-radius: 5px;" onclick=" haa()">
                sign in
            </button>
        </form>
    </div>
</div>
