@page
@model LectureAttendance.Pages.Login.IndexModel
@{
}

    <head>
        <title>Sign up</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    </head>

    <body>

        <div class="a">
            <div class="container-fluid">
                <form action="" id="loginForm">
                    <h1 style="margin-bottom:5%;">Sign up</h1>

                <label for="cars">Register as</label>

                <select>
                    <option value="Student">Student</option>
                    <option value="Instructor">Instructor</option>
                </select>
                <br /> <br />
                    <input type="text" id="user1" class="form-control" placeholder="Enter your Username...">
                    <br />
                    <input type="password" password="pass1" class="form-control" placeholder="Enter your Password...">
                    <br />
                <input type="text" email="user1" class="form-control" placeholder="Enter your email...">
                <br />
                <input type="text" phone="user1" class="form-control" placeholder="Enter your Phone...">
                <br />

                <label>BirthDate</label>
                <input type="date" phone="user1" class="form-control" >
                <br />

                
                <input type="radio" value="Male" name="gender" />
                <label>Male</label>

                <input type="radio" value="Female" name="gender" />
                <label>Female</label>
               <br />
               <br />

               
                
               
                

                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Remember me
                    </label>
                    <br>
                    <br>
                    <button type="button" class="btn" style="  display: inline-block;
          background-color: #172432;
          border: none;
          color: #ddd;
          padding: 10px 20px;
          border-radius: 5px;" onclick=" haa()">
                        Submit
                    </button>
                </form>
            </div>
        </div>

    </body>
