@page
@model LectureAttendance.Pages.Control.Add.InstructorModel
@{
    ViewBag.UserType = HttpContext.Session.GetString("Type");
    ViewBag.UserEmail = HttpContext.Session.GetString("Email");
}

<head>
    <title>Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" >Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Control/Update/U_Instructor">Update</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Control/Delete/D_Instructor">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="a">
        <div class="container-fluid" style="height:700px">
            <form method="post">
                <h1 style="margin-bottom:5%;">Add A New Instrutor</h1>
                @if (Model.errorMessage.Length > 0)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@Model.errorMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else if (Model.successMessage.Length > 0)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <label>Id</label>           
                <input type="text" asp-for="Id" class="form-control" placeholder="Id...">
                <span asp-validation-for="Id" class="text-danger"></span>
                <br />

                <label>Name</label>               
                <input type="text" asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />

                <label>Department</label>
                <input type="text" asp-for="Depart" class="form-control" placeholder="Department...">
                <span asp-validation-for="Depart" class="text-danger"></span>
                <br />

                <label>Email</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Email...">
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />

                <label>Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password...">
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />

                <label>Phone</label>
                <input type="text" asp-for="Phone" class="form-control" placeholder="Phone...">
                <span asp-validation-for="Phone" class="text-danger"></span>
                <br />

                <label>BirthDate</label>
                <input type="date" asp-for="BirthDate" class="form-control">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
                <br />

                <label>Gender</label>
                <input type="radio" value="Male" asp-for="Gender"/>
                <label>Male</label>
                <input type="radio" value="Female" asp-for="Gender" />
                <label>Female</label>
                <br />
                <span asp-validation-for="Gender" class="text-danger"></span>
                <br />
                <br />

                <button type="submit" class="btn" style="display: inline-block;
                background-color: #172432;
                border: none;
                color: #ddd;
                padding: 10px 20px;
                border-radius: 5px;" >
                    Add
                </button>
            </form>
        </div>
    </div>
</body>